*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix{
    display: block;
    content: "";
    clear: both;
}

/********* Debug **********/
.debug > main{
    background-color: burlywood;
}

.debug > .side_bar{
    background-color: black;
}

.debug > .canzoni{
    background-color: violet;
    height: 50px;
    width: 25px;
    margin-top: 5%;
}
/********* /Debug **********/

/********* Body Main Footer **********/
main{
    height: calc(100vh - 90px);
}

footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/********* /Body Main Footer **********/



/********* Contenuto Main **********/


/********* Side Bar **********/
.side_bar{
   width: 190px;
   height: calc(100vh - 90px);
   position: fixed;
   z-index: 100;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.menu, .user{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.menu, .utility, .playlist, .user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu > img{
    height: 40px;
}

.utility{
    margin: 20px 0;
}
.utility > a, .playlist > a, .user > a, .user > p {
    text-decoration: none;
    color: #717171;
    margin: 7px 0;
    font-size: 15px;
    font-weight: 600;
}
#home{
    color: #FFFFFF;
}

.playlist > h4{
    color: #FFFFFF;
    font-weight: 600;
}

#add > i{
    font-size: 50px;
    margin-right: 5px;
}

#add{
    display: flex;
    align-items: center;
}

.user > p{
    color: #FFFFFF;
    border-top: 1px solid #717171;
    padding-top: 10px;
    width: 90%;
}

.user > p > span > i{
    margin-right: 10px;
}
/********* /Side Bar **********/




/********* Top Bar **********/
.top_bar{
    height: 90px;
    width: calc(100% - 190px);
    position: fixed;
    background-color: #00000099;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 40px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    font-size: 15px;
    margin-right: 10px;
}
/********* /Top Bar **********/



/********* Contenitore Canzoni **********/
.cont_canzoni{
    background-color: #141922;
    width: calc(100% - 190px);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0;
}
/********* /Contenitore Canzoni **********/

/********* /Contenuto Main **********/




/********* Contenuto Footer **********/
.can_riprodotta{
    width: 20%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.can_riprodotta > img{
    height: 50px;
    margin-right: 15px;
}

.can_riprodotta > p, .icone{
    color: #858585;
    font-weight: 600;
}

.can_riprodotta > p > span{
    color: #FFFFFF;
    font-weight: 600;
}

.icone{
    margin-left: 15%;
}

.icone > i{
    margin-right: 10px;
}

/********* /Contenuto Footer **********/