*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/********* Debug **********/
.debug > main{
    background-color: burlywood;
}

.debug > .side_bar{
    background-color: black;
}

.debug > .canzoni{
    background-color: violet;
    height: 50px;
    width: 25px;
    margin-top: 5%;
}
/********* /Debug **********/

/********* Body Main Footer **********/
main{
    height: calc(100vh - 90px);
}

footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 100;
}
/********* /Body Main Footer **********/



/********* Contenuto Main **********/


/********* Side Bar **********/
.side_bar{
   width: 200px;
   height: calc(100vh - 90px);
   position: fixed;
   z-index: 100;
}
/********* /Side Bar **********/


/********* Top Bar **********/
.top_bar{
    height: 90px;
    width: calc(100% - 200px);
    position: fixed;
    background-color: #00000099;
    top: 0;
    right: 0;
    z-index: 100;
}
/********* /Top Bar **********/



/********* Contenitore Canzoni **********/
.cont_canzoni{
    background-color: #141922;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0;
}
/********* /Contenitore Canzoni **********/

/********* /Contenuto Main **********/
